@font-face {
    font-family: "DMSans";
    src: url("../assets/fonts/DMSans_18pt-Regular.ttf");
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DMSans";
    font-size: 1.5rem;
    color: white;
    background-image: url(../assets/bg/dark-trees.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
    
    /* Disable the next line if you want proper text cases */
    text-transform: lowercase;
}

a {
    color: #1fff2e;
    text-decoration: none;
}

a:hover {
    color: #6cd9f5;
    text-decoration: none;
}

li {
    list-style-type: none;
}

main {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

;; Grid area names

.gi-title { grid-area: gi-title }
.gi-col-1 { grid-area: gi-col-1 }
.gi-col-2 { grid-area: gi-col-2 }
.gi-image { grid-area: gi-image }

.gi-title {
    grid-column: 1 / -1; /* Ensures the element spans all columns */
    text-align: center;
}


.grid {
    display: grid;
    grid-template-areas:
        "gi-title gi-title gi-title"
        "gi-col-1 gi-col-2 gi-image"
        "gi-col-1 gi-col-2 gi-image"
        ;
    grid-template-columns: repeat(3, 400px);
    gap: 30px;
}

#main-img {
    width: 300px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

li {
    margin-left: 15px;
}

@media only screen and (max-width: 1220px) {
    .grid {
        grid-template-areas:
            "gi-title gi-title"
            "gi-col-1 gi-col-2"
            "gi-col-1 gi-col-2"
            ;
        .gi-image {
            display: none;
        }
        grid-template-columns: repeat(2, 400px);
    }    
}
